streamlit
tensorflow
Pillow
numpy
streamlit-chat
gpt-index==0.4.6
python-dotenv
langchain
streamlit
opencv-python-headless==4.4.0.46
pandas
numpy
matplotlib
plotly
scikit-learn
mahotas
torch
torchvision
webcolors==1.11.1
protobuf==3.20.0
tensorflow==2.7.0
